 
 #showcase {
    margin-top: 100px;
 }
 
 img {
    width: 300px;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
  }
  
  input#open {
    display: none;
  }
  
  .valentines-day-card {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: .3s;
  }
  
  .card-front {
    position: relative;
    background-color: #ba0000;
    width: 300px;
    height: 300px;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 30px 0 50px rgba(0,0,0,0.3);
    transition: .3s;
  }
  
  .card-front:before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background-color: #58595B;
    top: 10px;
    left: 10px;
  }
  
  .card-inside {
    position: absolute;
    background-color: #58595B;
    width: 300px;
    height: 300px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.22), 100px 20px 100px rgba(0,0,0,.1);
  }
  
  .open {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
    background-color: transparent;
    z-index: 7;
    cursor: pointer;
  }
  
  #open:checked ~ .card-front {
    transform: rotateY(-155deg);
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,.1);
  }
  
  #open:checked ~ .card-front:before {
    z-index: 5;
    background-color: #3e0000;
    width: 300px;
    height: 300px;
    top: 0px;
    left: 0px;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.1), 30px 0 50px rgba(0,0,0,.1);
  }
  
  .note {
    position: relative;
    width: 200px;
    height: 150px;
    top: 75px;
    left: 50px;
    color: #FFC400;
    background-color: #ba0000;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    filter: drop-shadow(0 0 20px rgba(0,0,0,.3));
  }
  
  .menu-toggle {
    display: none;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
}

@media(max-width: 995px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #111;
        width: 100%;
        text-align: right;
        padding: 2rem;
        z-index: 99;
    }

    nav.active {
        display: block;
    }

    nav a {
        display: block;
        margin: 2rem 0;
    }
}
    